<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justbreathe.atti">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Activities.Main.MainActivity_Write"></activity>
        <activity android:name=".Activity.Activities.Main.MainActivity_Detail" />
        <activity android:name=".Activity.Activities.Recommend.Recommend_Detail_Acitivty" />
        <activity android:name=".Activity.Activities.Recommend.RecommendActiivity" />
        <activity android:name=".Activity.Activities.Chatting.ChattingActivity" />
        <activity android:name=".Activity.Activities.Chatting.ChattingLobbyActivity" />
        <activity android:name=".Activity.Activities.SplashActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activities.LoginActivity" />
        <activity android:name=".Activity.Activities.Register.RegisterActivity4" />
        <activity android:name=".Activity.Activities.Register.RegisterActivity3" />
        <activity android:name=".Activity.Activities.Register.RegisterActivity1" />
        <activity android:name=".Activity.Activities.Register.RegisterActivity2" />
        <activity android:name=".Activity.Activities.Register.RegisterActivity5" />
        <activity android:name=".Activity.Activities.Main.MainActivity" />
    </application>

</manifest>